<style> body {background: <%= @color %>;
}
</style>

<h1>About me</h1>
<p>Lots of interesting stuffs.</p>


<p>
	My favorite color is <%= @color %> and my shoe size is <%= @size %>, which is pretty big!
</p>

<% if @size.to_i >12 %>
		<p>I have HUGE feet</p>
<% end %>		

<p>My favorite picture is <%= image_tag @pic, class: "images" %> </p>

<%= link_to "Blue", about_path(color: "blue"), class: "btn btn-primary"  %>

<%= link_to "Red", about_path(color: "red"), class: "btn btn-danger"  %>

<%= link_to "Green", about_path(color: "green"), class: "btn btn-success"  %>